
body {
    background-color: #f2f2f2;
    color: #333;
    font-family: Osaka,verdana,Sans-Serif;
    font-size: 10pt;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

em {
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
}

a:link {
    color: #333333;
    text-decoration: none;
}

a:visited {
    color: #333333;
    text-decoration: none;
}

a:active {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #666666;
    text-decoration: none;
}

tr {
    font-size: 8pt
}

td {
    font-size: 8pt
}

h1, .title {
    color: #333;
    font-family: Trebuchet MS,Arial,Osaka,verdana,Sans-Serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 5px;
    text-transform: uppercase;
}

h2, .subtitle {
    color: #333;
    font-family: 'Trebuchet MS',arial,Osaka,verdana,Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 15px;
    text-transform: uppercase;
}

h3 {
    color: #333;
    font-family: 'Trebuchet MS',arial,Osaka,verdana,Sans-Serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 35px;
}




/* These are some default styles used throughout. */
.left {
    float: left;
    text-align: left;
}

.right {
    float:      right;
}

.center {
    text-align: center;
}

.icon {
    margin:     10px;
}

/* Begin: Structural styles */
div {
    font-size:  8pt;
}

div.clear {
    clear: both;
}

img {
    border: 0px;
}

div.std {
    background: #fafafa;
    height:     1%;
    overflow:   hidden;
    width:      100%;
}
/* End: Structural styles

/* Begin: Header Bar & Navigation for all pages */
.nav ul {
    font:       bold 8pt helvetica,arial,sans-serif;
    line-height:100%;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:     2px 0px 0px 0px;
    padding:    0px;
}

.nav ul li {
    float:      left;
    margin:     0px 1px 0px 0px;
    padding:    0px;
}

.nav ul li a {
    color:      #000000;
    display:    block;
    padding:    5px 7px 6px;
    text-decoration:none;
}

.quicknav {
    margin-right: 10px;
}
.quicknav a, form{
    margin: 0px 8px 0 8px;
}
form {
    display: inline;
    margin: 0;
}
/* End: Header Bar & Navigation for all pages */

.module-title {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.module-title h1 {
    float: left;
    margin-top: 15px;
}

.module-title .icon {
    float: left;
    margin: 3px;
}

.module-title .crumb-right {
    float: right;
    margin: 10px 0;
}

.module-nav {
    float: left;
    margin: -15px 0 5px;
    width: 100%;
}

.module-nav .crumb-right {
    float: right;
    margin: 0;
}

.crumb-right li {
    list-style-type: none;
    margin: 0 3px;
}

.crumb-right li select, .crumb-right li input {
    margin-top: -2px;
    width: 15em;
}

.crumb-right label {
    width: 14em;
}
.crumb-right input[type="checkbox"] {
     width: 1em;
 }

.system-info P {
    color: #000000;
    font-size: 7pt;
    margin: 0px;
    text-align: center;
}
.error,.warning {
    color:red
}

input[type="checkbox"] {
    vertical-align: top;
}

/*
 * These are the styles attached to the list screens which are urls like:
 *      ./index.php?m=projects
 *      ./index.php?m=companies
 */
.list td {
    text-align: center;
    white-space:nowrap;
}
table.smartsearch td {
    text-align: left;
}

._departments {
    text-align: left;
}
._duration {
    text-align: right;
}

._identifier {
    border: outset #eeeeee 1px;
}

._description {
    white-space: normal;
}

.budgets, .budgets input {
    text-align: right;
}
.budgets tr:first-child {
    text-align: center;
}
.budgets input {
    width: 40pt;
}

table.list {
    background-color: white;
    border-spacing: 1px;
    padding: 2px;
    width: 100%;
}

/* These two styles handle all of the mouseover highlighting in the lists. */
table.list tr:hover td {
    background-color: #ffffcc;
    color: #000;
    font-style: italic;
}
table.list tr:hover td._name {
    /*font-weight: bold;*/
}

.list ._description {
    text-align: left;
    white-space: normal;
}

.list ._identifier {
    padding: 5px;
    width: 40px;
}

.list ._name {
    text-align: left;
    width: 25%;
}

.list ._description {   width: 30%; }

.list.history td.data._description {
    width: 60%;
}
.list.history td.data {
    margin-left: 20px;
    padding: 0 5em 0 5em;
}
.list.history td.data._user {
    text-align: center;
}

/*
 * These are the styles attached to the views which are urls like:
 *      ./index.php?m=projects&a=view&id=1
 *      ./index.php?m=companies&a=view&id=1
 */
.view {
    border-spacing: 0px;
    padding-left: 0px;
    text-align: left;
    width: 100%;
}

#view-header {
    margin-bottom: 5px;
    padding: 4px;
}
.view-column {
    padding-left: 4px;
    padding-top: 4px;
}
.view td.data {
    background-color: #FFFFFF;
    border-radius:3px;
    text-align: left;
}

.view .list td.data {
    border-radius: 0px;
}

.view td.workingDay, .view td.otherDay {
    border: #eeeeee solid thin;
    height: 300px;
    vertical-align: top;
    width:14.29%;
}

.view td.otherDay {
    background: silver;
}

.addedit {
    border-collapse: collapse;
    width: 100%;
}
.addedit table {
    width: 100%;
}
.addedit table td, .addedit table th {
    border-spacing: 1px;
    padding: 1px;
}
.addedit textarea {
    height: 75px;
    width:  65%;
}

/*
 * These are the colors/formats for the tasks that are on time, overdue, etc.
 */
td.future {
    background-color:#ffffff;
    border-style:solid;
    border-width:1px
}
tr.future td._date, tr.future td._datetime, tr.future td._duration, tr.future td._in {
    background-color:#ffffff;
    color: #000;
}

td.done {
    background-color:#aaddaa;
    border-style:solid;
    border-width:1px
}
tr.done td._date, tr.done td._datetime, tr.done td._duration, tr.done td._in {
    background-color:#aaddaa;
    color: #000;
}

td.late {
    background-color: #CC6666;
    border-style:solid;
    border-width:1px;
}
tr.late td._date, tr.late td._datetime, tr.late td._duration, tr.late td._in {
    background-color:#cc6666;
    color: #fff;
}

td.notstarted {
    background-color: #ffeebb;
    border-style:solid;
    border-width:1px;
}
tr.notstarted td._date, tr.notstarted td._datetime, tr.notstarted td._duration, tr.notstarted td._in {
    background-color:#ffeebb;
}

td.active {
    background-color: #e6eedd;
    border-style:solid;
    border-width:1px;
}
tr.active td._date, tr.active td._datetime, tr.active td._duration, tr.active td._in {
    background-color:#e6eedd;
}

.highlight0 { background-color: #FFFF66; }
.highlight1 { background-color: #ADD8E6; }
.highlight2 { background-color: #90EE8A; }
.highlight3 { background-color: #FF99FF; }
.highlight4 { background-color: #FFA500; }
.highlight5 { background-color: #ADFF2F; }
.highlight6 { background-color: #00FFFF; }
.highlight7 { background-color: #FF69B4; }

#headerNav .module { font-style: italic; font-size:  small; }


/* Used in system module */
.main {
    margin-top: 20px;
    min-width:  250px;
    width:      45%;
}

.nowrap {
    white-space:nowrap;
}

#month-view span > img {
    display: inline;
}

.info span {
    font-size: medium;
    font-weight: bold;
}
.info p, .info li {
    font-size: medium;
}

/**
 * The styles below are used by the projectdesigner module
 */
table.prjprint {
    background: #ffffff;
}

table.prjprint TH {
    background-color: #ffffff;
    color: black;
    list-style-type: disc;
    list-style-position: inside;
    border:solid 1px;
    font-weight: normal;
    font-size:15px;
}

table.prjprint TD {
    background-color: #ffffff;
    font-size:14px;
}

table.prjprint TR {
    padding:5px;
}

#folder-list {
/*  margin-left: -25px;*/
}
#folder-list ul {
    padding: 0;
    margin: 0;
}
#folder-list ul li {
    list-style: none;
    margin-top: -1px;
    margin-bottom: 0px;
    border: 0px solid #CCC;
}
#folder-list ul li ul li {
    margin-left: 25px;
}

.folder-name {
    display: block;
    height: 16px;
    padding-top: 0px;
    background: white;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    margin-bottom: 0px;
}

.folder-name-current {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    border-bottom: 1px solid #333;
}

.has-files {
    font-weight: bold;
}

#folder-list .tbl {
    margin-top: 2px;
}
#folder-list .tbl th {
    border: none;
}

#folder-list p {
    padding: 3px 5px;
    margin-top: -5px;
    margin-left: 25px;
    margin-right: 25px;
    border: 1px solid #CCC;
    border-top: none;
    background: #F9F9F9;
}
#tblFolders ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#tblFolders ul li, #tblFolders ul li img {
    display: inline;
}
#tblFolders ul li a { text-decoration: none; }

#tblFolders .info-text {
    font-size: medium;
    margin-left: 20px;
}

.small-delete {
    float: right;
}

.tool-tip td {
    color: white;
    white-space:nowrap;
}

.tool-tip td.tip-label {
    border: 1px solid white;
    text-align: right;
    border-radius: 3.5px;
}

.tool-tip td.description {
    text-align: left;
    white-space: normal;
}

table.minititle th {
    font-weight: normal;
    text-align: center;
}

.bordertable{
    border: 1px black solid;
}

#progressBar {
    font-size: 1px;
    height: 15px;
    width: 0px;
}

table.week {
    background-color:white;
}

table.week table {
    border-spacing: 0;
    width: 100%;
}

span.cal-item * {
    float: left;
}

span.cal-item a {
    padding-left: 3px;
    padding-right: 3px;
}

.subprojects td.data {
    background-color: white;
    border-spacing: 0px;
}

.subprojects {
    background-color: white;
    border: 1px solid black;
    text-align: center;
    width: 100%;
}

.subprojects tr:nth-child(even) {
    background-color: #f0f0f0;
}
.subprojects tr:nth-child(odd) {
    background-color: #fff;
}

.subprojects td.data {
    background-color: inherit;
    text-align: inherit;
}

.subprojects td._name {
    text-align: left;
}

table.mocal td a:first-child {
    font-weight: bold;
}

.projectdesigner {
    background-color: inherit;
    border: outset #eeeeee 1px;
    color: black;
    font-weight: bold;
    white-space: nowrap;
}
.projectdesigner select {
    height: 20px;
    width: 500px;
}

.syskeys td:nth-child(3) {
    text-align: left;
}

.sysvals td:nth-child(4) {
    text-align: left;
    white-space: normal;
}

.modules td:nth-child(3) {
    text-align: left;
}

.view-column {
    vertical-align: top;
    width: 50%;
}

.history tr td:nth-child(2) {
    white-space: nowrap;
}

div.column {
    width: 45%;
}
div.column:nth-child(1) {
    float: left;
}
div.column:nth-child(2) {
    float: right;
}
label {
    display: block;
    float: left;
    margin-right: 0.5em;
    text-align: right;
    white-space: nowrap;
    width: 10em;
}
div.addedit textarea {
    width: 65%;
}
div.addedit input.save {
    float: right;
}

input.name, input.url {
    width: 25em;
}

input.state, input.zip {
    width: 5em;
}

.projects label {
    width: 12em;
}

.tasks-depends label, .tasks-dates label, .tasks-resources label, .users label {
    width: 24em;
}
.files label {
    width: 28em;
}

input.button, a div {
    text-transform: capitalize;
}

.smartsearch label, .my-tasks label {
    width: inherit;
}
.users label, .events label {
    width: 20em;
}

.users .name {
    width: 100px;
}

.users .signature {
    width: 250px;
}

.projects label {
    width: 11em;
}

.bulk {
    width: 20em;
}

#password-strength {
    margin-left: 20.5em;
    width: 9em;
}

.tasks-tasklog label, .preference label {
    width: 12em;
}