.system-info P {
	color: #000000;
	font-size: 7pt;
	margin: 0px;
	text-align: center;
}
.error,.warning {
  color:red
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}

td.day span img, td.weekend span img,
td.today span img, td.empty span img
{
	display: inline;
}

.selectborder {
    border: 3px solid #FF0000;
    padding: 1px 0 2px;
    display: inline;
}

.view {
    border-spacing: 0px;
    padding-left: 0px;
    text-align: left;
    width: 100%;
}

#view-header {
    margin-bottom: 5px;
    padding: 4px;
}

.view-column {
    padding-left: 4px;
    padding-top: 4px;
}

.view td.data {
    background-color: #FFFFFF;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

.addedit textarea.customfield {
    height: 75px;
    width:  100%;
}

.list ._date {
    text-align: center;
}

.view ._date {
    text-align: left;
}

._category, ._count, ._complete, ._assignment, ._count, ._owner, ._username, 
    .inactive, .countp {
    text-align: center;
}

._duration {
    text-align: right;
}
.highlight0 { background-color: #FFFF66; }
.highlight1 { background-color: #ADD8E6; }
.highlight2 { background-color: #90EE8A; }
.highlight3 { background-color: #FF99FF; }
.highlight4 { background-color: #FFA500; }
.highlight5 { background-color: #ADFF2F; }
.highlight6 { background-color: #00FFFF; }
.highlight7 { background-color: #FF69B4; }
