
/* These are some default styles used throughout. */
.left {
    float: left;
    text-align: left;
}

.right {
    float:      right;
}

.icon {
    margin:     10px;
}

/* Begin: Structural styles */
div {
    font-size:  8pt;
}

div.std {
	background: #fafafa;
    height:     1%;
    overflow:   hidden;
    width:      100%;
}
/* End: Structural styles

/* Begin: Header Bar & Navigation for all pages */
.nav ul li {
	float:      left;
	margin:     0px 1px 0px 0px;
	padding:    0px;
}

.nav ul {
    font:       bold 8pt helvetica,arial,sans-serif;
	line-height:100%;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:     2px 0px 0px 0px;
	padding:    0px;
}

.nav ul li a {
	color:      #000000;
	display:    block;
	padding:    5px 7px 6px;
	text-decoration:none;
}

.quicknav {
    margin-right: 10px;
}
.quicknav a, form{
    margin: 0px 8px 0 8px;
}
/* End: Header Bar & Navigation for all pages */

.module-title {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.module-title .icon {
    float: left;
    margin: 3px;
}

.module-title h1 {
    float: left;
    margin-top: 15px;
}

.module-nav {
    float: left;
    margin: -15px 0 5px;
    width: 100%;
}

.module-title .crumb-right {
    float: right;
    margin: 10px 0;
}

.module-nav .crumb-right {
    float: right;
    margin: 0;
}

.crumb-right li {
    list-style-type: none;
    margin: 0 3px;
}

.system-info P {
	color: #000000;
	font-size: 7pt;
	margin: 0px;
	text-align: center;
}
.error,.warning {
  color:red
}
.center {
    text-align: center;
}
._duration {
    text-align: right;
}

._identifier {
    border: outset #eeeeee 1px;
}
input[type="checkbox"] {
    margin-left: 10px;
}

/*
 * These are the styles attached to the list screens which are urls like:
 *      ./index.php?m=projects
 *      ./index.php?m=companies
 * These two styles handle all of the mouseover highlighting for all lists
 *   whether it's projects, tasks, links, or anything else.
 */
.list ._name {          width: 25%; }
.list ._description {   width: 30%; }

.list ._complete, .list ._created, .list ._date, .list ._datetime, .list ._duration,
    .list ._hours, .list ._update, .list ._updated, .list ._worked, .list ._identifier,
    .list ._size {
    text-align: center;
}
.list ._author, .list ._creator, .list ._name, .list ._owner, .list ._updator,
    .list ._size, .list ._birthday, .list ._date, .list ._created, .list ._datetime,
    .list ._update, .list ._updated {
        white-space:nowrap;
}


table.list {
    border-spacing: 1px;
    padding: 2px;
    width: 100%;
}

/* These two styles handle all of the mouseover highlighting in the lists. */
table.list tr:hover td {
    background-color: #ffffcc;
    color: #000;
    font-style: italic;
}
table.list tr:hover td._name {
    font-weight: bold;
}

div.clear {
    clear: both;
}

/*
 * These are the styles attached to the views which are urls like:
 *      ./index.php?m=projects&a=view&id=1
 *      ./index.php?m=companies&a=view&id=1
 */
.view {
    border-spacing: 0px;
    padding-left: 0px;
    text-align: left;
    width: 100%;
}
#view-header {
    margin-bottom: 5px;
    padding: 4px;
}
.view-column {
    padding-left: 4px;
    padding-top: 4px;
}
.view td.data {
    background-color: #FFFFFF;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.view .list td.data {
    border-radius: 0px;
}

.addedit textarea.customfield {
    height: 75px;
    width:  100%;
}

.view ._date, .view ._owner, .view ._status {
    text-align: left;
}

._assignment, ._category, ._count, .countp, ._complete, ._in, .inactive,
    ._owner, ._priority, ._problem, ._problem, .replies, ._status, ._username,
    ._users, ._version {
    text-align: center;
}

/*
 * These are the colors/formats for the tasks that are on time, overdue, etc.
 */
tr.done td._date, tr.done td._datetime, tr.done td._duration, tr.done td._in {
    background-color:#aaddaa;
    color:#00000;
}

tr.late td._date, tr.late td._datetime, tr.late td._duration, tr.late td._in {
    background-color:#cc6666;
    color: #fff;
}

tr.notstarted td._date, tr.notstarted td._datetime, tr.notstarted td._duration, tr.notstarted td._in {
    background-color:#ffeebb;
}

tr.active td._date, tr.active td._datetime, tr.active td._duration, tr.active td._in {
    background-color:#e6eedd;
}

.highlight0 { background-color: #FFFF66; }
.highlight1 { background-color: #ADD8E6; }
.highlight2 { background-color: #90EE8A; }
.highlight3 { background-color: #FF99FF; }
.highlight4 { background-color: #FFA500; }
.highlight5 { background-color: #ADFF2F; }
.highlight6 { background-color: #00FFFF; }
.highlight7 { background-color: #FF69B4; }

#headerNav .module { font-style: italic; font-size:  small; }


/* Used in system module */
.main {
    margin-top: 20px;
    min-width:  250px;
    width:      45%;
}

.nowrap {
    white-space:nowrap;
}

#month-view span > img {
    display: inline;
}

.info span {
    font-size: medium;
    font-weight: bold;
}
.info p, .info li {
    font-size: medium;
}