/* 
    Document   : divs.css
    Created on : Jun 14, 2012, 3:17:49 PM
    Author     : keithcasey
    Description:
        Purpose of the stylesheet follows.
*/

div {
    font-size:  8pt;
}

div.std { 
	background: #fafafa;
    height:     1%;
    overflow:   hidden;
    width:      100%;
}

div.titlebar {
    background: url(images/title_bkgd.jpg);
}

.main {
    border-style:double;
    margin-top: 20px;
    min-width:  250px;
    width:      45%;
}

.left {
    float: left;
    text-align: left;
}

.right {
    float:      right;
}

.icon {
    margin:     10px;
}



/* The following declarations are all used by the header navigation that shows up on every page. */
div.header {
    background: url(images/nav_bkgd.gif);
    color:      #000;
    height:     24px;
}

div.shadow {
    background: url(images/nav_shadow.jpg);
}

.nav a:hover{
	background: #2E91C6 url(images/nav_item_hover.gif) repeat-x scroll 0%;
	color:      #FFFFFF;
	text-decoration:none;
}

.nav ul li {
	float:      left;
	margin:     0px 1px 0px 0px;
	padding:    0px;
}

.nav ul {
    font:       bold 8pt helvetica,arial,sans-serif;
	line-height:100%;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:     1px 0px 0px 0px;
	padding:    0px;
}

.nav ul li a {
	color:      #000000;
	display:    block;
	padding:    5px 7px 6px;
	text-decoration:none;
}