html, body {
    padding: 0;
    font-family: sans-serif;
    font-size: 11pt;
    color: black;
}
html {
    overflow:auto;
    webkit-overflow-scrolling: touch;
    margin: 0;
}
body {
    position:relative;
    word-wrap:break-word;
    overflow:auto
    margin: 1ex;
}

ul, ol, p, div {
    margin-top:1ex;
    margin-bottom:1ex;
    padding-top:0;
    padding-bottom:0
}

table,td{border:1px dotted #000;empty-cells:show}
code:before{position:absolute;content:'Code:';top:-1.35em;left:0}
code{margin-top:1.5em;position:relative;background:#eee;border:1px solid #aaa;white-space:pre;padding:.25em;display:block}
.ie6 code,.ie7 code{margin-top:0}
code:before,code{display:block;text-align:left}

q, blockquote {
	display: block;
	margin: 1ex;
	padding: 1ex;
	border-radius: 0;
	width: auto;
	text-shadow: none;
	background-color: #eee;
	color: black;
	font-family: sans-serif;
	border: 1px solid #aaa;
	line-height: 1.2em;
	font-size: 100% !important;
}

q::after {
	display: none;
}

blockquote cite{font-weight:bold;display:block;font-size:1em;border-bottom:1px solid #aaa}
div{min-height:1em}
