#  The concept for this was taken from the Drupal project by D. Keith Casey Jr.  - caseydk@users.sourceforge.net

# PHP 4, Apache 1
<IfModule mod_php4.c>
	php_value magic_quotes_gpc                0
	php_value register_globals                0
	php_value allow_url_fopen                 0
	php_value session.auto_start              0
	php_value max_execution_time            120
	php_value zlib.output_compression		  0
</IfModule>

# PHP 4, Apache 2
<IfModule sapi_apache2.c>
	php_value magic_quotes_gpc                0
	php_value register_globals                0
	php_value allow_url_fopen                 0
	php_value session.auto_start              0
	php_value max_execution_time            120
	php_value zlib.output_compression		  0
</IfModule>

# PHP 5, Apache 1 and 2
<IfModule mod_php5.c>
	php_value magic_quotes_gpc                0
	php_value register_globals                0
	php_value allow_url_fopen                 0
	php_value session.auto_start              0
	php_value max_execution_time            120
	php_value zlib.output_compression		  0
</IfModule>

# Protect files and directories from prying eyes:
# - These limitations were put in place specifically to combat further security issues in addition to completely 
#   close out previous issues.  In order to install some modules - such as the Task Tracker for the Yahoo Widget Engine- 
#   have to be manually added to the second FileMatch block in order to allow for external access.

<FilesMatch "(\.(classes|db|files|functions|includes|lib|locales|misc|modules|theme|CVS|.svn)|Entries.*|Repository|Root|(php)|(sql))$"> 
	Order deny,allow
	Deny from all
</FilesMatch>
<FilesMatch "(index.php|calendar.php|queuescanner.php|fileviewer.php|updatecontact.php|do_updatecontact.php|newuser.php|createuser.php|do_user_aed.php|CaptchaImage.php|pdf)$">
	Order deny,allow
	Allow from all
</FilesMatch>

# Set some options.
Options -Indexes
Options +FollowSymLinks

# Set the default handler.
DirectoryIndex index.php
