/* $Id$ $URL$ */
/* theme: w2p-snowball */
/* WEB2PROJECT REQUIRED CLASSES */
BODY {
    background-color: #ffffff;
    font-family: verdana, arial, helvetica, sans-serif;
}

A:link, A:visited {
    color: #006;
}

A:active {
    color: red;
}

A:hover {
    color: #0F99AB;
}

TD, TR {
    font-family: verdana, arial, helvetica, sans-serif;
}

h1, .title {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 16px;
}

h2, .subtitle {
    color: #666;
    font-family: verdana, arial, helvetica, sans-serif;
}

h3 {
    color: #08245b;
    font-family: verdana, arial, helvetica, sans-serif;
}

bordertable {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.bordertable{
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

input.button {
   	font-size:8pt;
	font-family: arial, helvetica, sans-serif;
   	font-weight:bold;
   	color:#333333;
   	width:151px;
   	height:21px;
    background: transparent url('images/button.gif') no-repeat;
   	border-style:none;
    line-height: 14px;
    padding: 2px 0 5px 0px;
}

input.button:hover {
	color: #FFFFFF;
}

input.button:active {
	color: #FFFFFF;
    outline: none; /* hide dotted outline in Firefox */
}

.text{
    border: 1px #acacac solid;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
.text textarea:focus, input[type="text"]:focus, select:focus{
    border: 1px #acacac solid;
    background-color:#ffe;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
.text select:focus, textarea:focus{
    border: 1px #acacac solid;
    background-color:#ffe;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
TEXTAREA {
    border: 1px #acacac solid;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 9pt;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
textarea.small {
    border: 1px #acacac solid;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 8pt;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

/* web2Project Top Banner and Top Nav Customization */
TH.banner {
    background-color: #70a5cc;
    color: white;
}

td.label {
	background-color:#FFFFFF;
	background-image:url(images/label.gif);
	height:22px;
}

td.item {
	background-color:#FFFFFF;
	background-image:url(images/label.gif);
	height:22px;
}

/* Standard table 'spreadsheet' style */
table.tbl {
    background: #aeaeae;
}

table.tbl TH {
    background: url("images/lines_title_bar.gif");
    border-color: #a9d4ff;
    border-left-width: 0px;
    border-right-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    font: 11px verdana, arial, helvetica, sans-serif;
    height: 22px;
    line-height:18px;
    list-style-type: disc;
    list-style-position: inside;
    padding: 2px 2px 2px 2px;
    text-align:center;
    white-space: nowrap;
}

table.tbl td {
    background-color: #ffffff;
}

table {
    border-color: #acacac;
}

/* a 'standard' table */
table.std { 
	background: #fafafa; 
	border-color: #acacac; 
	border-style: solid; 
	border-width: 1px 2px 2px 1px; 
	-moz-border-radius:3px; 
    -webkit-border-radius:3px;
}

table.std TH {	
	background-color:#FFFFFF;
	background-image:url(images/label.gif);
	font: bold 12px Arial, Helvetica, sans-serif; 
	text-align: center; color: #000; 
	margin-bottom: 0; 
	padding: 1px; 
	list-style-type: disc; 
	list-style-position: inside; 
}

table.std td.hilite {
    background-color: #E8F3FE;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

/* contacts table */
table.contacts {
    background-color: #e9f2f2;
}
table.contacts td {
    background-color: #e9f2f2;
}
table.contacts td.hilite {
    background-color: #e9f2f2;
}

/* links in header blocks */
A.hdr:link, A.hdr:active, A.hdr:visited {
    color: #333;
}
A.hdr:hover {
    color: #00FFE5;
}

/* tabbed boxes */
td.tabon {
    background: #ffffff url('images/bar_top_Selectedmiddle.gif') repeat-x top;
    font-weight: bold;
}
td.taboff {
    background: #ffffff url('images/bar_top_middle.gif') repeat-x top;
    font-weight: normal;
}
td.tabsp {
    border-bottom: solid #a9d4ff 2px;
}
/* Bottom of tabbed boxes, this is the bottom colour of the table */
td.tabox {
    background: #acacac;
    border-top: solid #acacac 1px;
    border-left: solid #acacac 1px;
    border-right: solid #acacac 1px;
    border-bottom: solid #acacac 1px;
}

/* Message styles */
.message {
    color: #08245b;
}

/* month calendar - title area */
table.motitle {
    background-color: #777777;
}
table.motitle td {
    background-color: #f0f0f0;
}
table.motitle th {
    background-color: #f0f0f0;
    font-size: 10pt;
}

table.mocal {
    background-color: #777777;
    cursor: pointer;
}
table.mocal th {
    background-color: #08245b;
    color: #ffffff;
}
table.mocal td {
}
table.mocal td.week {
    vertical-align: top;
    background-color: #08245b;
    height: 80px;
}
table.mocal td.empty {
    background-color: #e0e0e0;
    color: #aaaaaa;
    text-align: left;
    vertical-align: top;
    height: 80px;
}
table.mocal td.day  {
    background-color: #ffffff;
    color: #333366;
    text-align: left;
    vertical-align: top;
    height: 80px;
}
table.mocal td.today {
    background-color: #a5cbf7;
    color: #ffffff;
    text-align: left;
    vertical-align: top;
}
table.mocal td.weekend {
    background-color: #f0f0f0;
    text-align: left;
    vertical-align: top;
}
table.mocal td.event {
    background-color: #ffffcc;
    text-align: left;
    vertical-align: top;
}
table.mocal .event { }

/* mini calendar - title area */
table.minical th {
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
	line-height:normal;
}
table.minical td { }
table.minical td.today {
    border     : 1px dotted red;
    background-color: #e0e0e0;
    text-align: center;
}

TR.nav {
    background: url("images/nav_bkgd.gif");
    color: #000;
    height:24px;
}

tr.nav a:hover{
	background:#2E91C6 url(images/nav_item_hover.gif) repeat-x scroll 0%;
	color:#FFFFFF;
	text-decoration:none;
}

tr.nav ul li {
	float:left;
	margin:0px 1px 0px 0px;
	padding:0px;
}

tr.nav ul {
    font: bold 8pt helvetica,arial,sans-serif;
	line-height:100%;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:1px 0px 0px 0px;
	padding:0px;
}

tr.nav ul li a {
	color:#000000;
	display:block;
	padding:5px 7px 6px;
	text-decoration:none;
}

a.button {
    background: transparent url('images/button_right.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 8pt arial, sans-serif;
    height: 22px;
    margin-right:0px;
    padding-right: 10px; /* sliding doors padding */
    text-decoration: none;
	border:0px;
}

a.button span {
    background: transparent url('images/button_left.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 3px 0 5px 10px;
} 

a.button:hover {
	color: #FFFFFF;
}

a.button:active {
    background-position: bottom right;
	color: #FFFFFF;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 4px 0 4px 10px; /* push text down 1px */
}

a.delete {
    background: transparent url('images/delete_right.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 8pt arial, sans-serif;
    height: 22px;
    margin-right:0px;
    padding-right: 10px; /* sliding doors padding */
    text-decoration: none;
	border:0px;
}

a.delete span {
    background: transparent url('images/delete_left.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 3px 0 5px 10px;
} 

a.delete:hover {
	color: #FFFFFF;
}

a.delete:active {
    background-position: bottom right;
	color: #FFFFFF;
    outline: none; /* hide dotted outline in Firefox */
}

a.delete:active span {
    background-position: bottom left;
    padding: 4px 0 4px 10px; /* push text down 1px */
}

.crumb ul li {
	margin: 2px 2px 2px;
	font-family:arial,sans-serif;
	background: transparent url('images/crumb_right.gif') no-repeat scroll top right;
	float: left;
	height: 22px;
	padding-right: 10px; /* sliding doors padding */
	border:0px;
}
.crumb ul li span {
    background: transparent url('images/crumb_left.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 2px 0 5px 10px;
}
label {
	vertical-align: 25%;
}
/* theme: w2p-snowball */