/* $Id$ $URL$ */
/* WEB2PROJECT REQUIRED CLASSES */
BODY {
        background-color: #70a5cc;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 10pt;
        color: #333;
}

ul {
        margin-left: 25px;
}

dl {
        margin-top: 0px; padding-left: 1px;
}
dt {
        margin-top: 0.5em;
        color: #000099;
        font-weight: bold;
}
dd {
        margin-bottom: 0px; margin-left: 1.5em;
}


em {
        font-weight: bold;
        text-decoration: none;
        font-style: normal;
}

A:link {
        color: #006;
        text-decoration: none;
}

A:visited {
        color: #006;
        text-decoration: none;
}

A:active {
        color: red;
        text-decoration: none;
}

A:hover {
        color: #0F99AB;
}

TD {
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 8pt
}

TR {
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 8pt
}

h1, .title {
        font-size: 16px;
        font-weight: bold;
        font-family: verdana, arial, helvetica, sans-serif;
        color: #333;
        margin-bottom: 0px;
        margin-top: 5px;
}

h2, .subtitle {
        font-size: 12px;
        font-weight: bold;
        font-family: verdana, arial, helvetica, sans-serif;
        color: #666;
        margin-bottom: 0px;
        margin-top: 15px;
}

h3 {
        font-size: 12px;
        font-weight: bold;
        font-family: verdana, arial, helvetica, sans-serif;
        color: #08245b;
        margin-bottom: 0px;
        margin-top: 35px;
}

bordertable {
        border: 1px black solid;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
}

.bordertable{
 border: 1px black solid;
 -moz-border-radius:3px;
 -webkit-border-radius:3px;
}

input.button {
   	font-size:8pt;
	font-family: arial, helvetica, sans-serif;
   	font-weight:bold;
   	color:#333333;
   	width:151px;
   	height:21px;
    background: transparent url('button.gif') no-repeat;
   	border-style:none;
    line-height: 14px;
    padding: 2px 0 5px 0px;
}

input.button:hover {
	color: #000000;
}

input.button:active {
	color: #FFFFFF;
    outline: none; /* hide dotted outline in Firefox */
}

.text{
        border: 1px #acacac solid;
		font-family: arial,Osaka,verdana,Sans-Serif;
        font-size: 8pt;
		margin-top  : 2px;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        /*height: 12pt; Select boxes are too small in Mozilla */
}
.text textarea:focus, input[type="text"]:focus, select:focus{
        border: 1px #acacac solid;
        background-color:#ffe;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
}
.text select:focus, textarea:focus{
        border: 1px #acacac solid;
        background-color:#ffe;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
}
TEXTAREA {
        border: 1px #acacac solid;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 9pt;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
}
textarea.small {
        border: 1px #acacac solid;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 8pt;
       -moz-border-radius:4px;
       -webkit-border-radius:4px;
}

/* web2Project Top Banner and Top Nav Customization */
TH.banner {
        background-color: #70a5cc;
        color: white;
}

/*
**********************************
Begin IE TD buttonizing
**********************************
*/

TD.clsBtnUp {
        cursor: hand;
        color: #FFFFFF;
        padding: 0 3;
        border: inset 2px;
}

TD.clsBtnDown {
        cursor: hand;
        color: #FFFFFF;
        padding: 0 3;
        border: inset 2px;
}

TD.clsBtnOn {
        cursor: hand;
        color: #FFFFFF;
        padding: 0 3;
        border: outset #eeeeee 2px;
}

TD.clsBtnOff {
        color: #FFFFFF;
        padding: 0 3;
        tab-index: 0;
        border: solid #559999 2px;
}

TD.topBtnOff {
        color: #FFFFFF;
        padding: 0 3;
        tab-index: 0;
        border: solid #aeaeae 2px;
}

td.label {
	background-color:#FFFFFF;
	background-image:url(label.gif);
	height:22px;
}

td.item {
	background-color:#FFFFFF;
	background-image:url(label.gif);
	height:22px;
}

/* Standard table 'spreadsheet' style */
table.tbl {
        background: #aeaeae;
}

table.tbl TH {
        background: url("lines_title_bar.gif");
        height: 22px
        border-color: #a9d4ff;
        white-space: nowrap;
        border-left-width: 0px;
        border-right-width: 1px;
        border-top-width: 0px;
        border-bottom-width: 0px;
        padding: 2px 2px 2px 2px;
        font: 11px verdana, arial, helvetica, sans-serif;
        text-align:center;
		line-height:18px;
        list-style-type: disc;
        list-style-position: inside;
}

table.tbl td {
        background-color: #ffffff;
}

table {
        border-color: #acacac;
}

/* a 'standard' table */
table.std { 
	background: #fafafa; 
	border-color: #acacac; 
	border-style: solid; 
	border-width: 1px 2px 2px 1px; 
	-moz-border-radius:3px; 
    -webkit-border-radius:3px;
}

table.std TH {	
	background-color:#FFFFFF;
	background-image:url(label.gif);
	font: bold 12px Arial, Helvetica, sans-serif; 
	text-align: center; color: #000; 
	margin-bottom: 0; 
	padding: 1px; 
	list-style-type: disc; 
	list-style-position: inside; 
}

table.std td.hilite {
        background-color: #E8F3FE;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
}

/* contacts table */
table.contacts {
        background-color: #e9f2f2;
}

table.contacts td {
        background-color: #e9f2f2;
}

table.contacts td.hilite {
        background-color: #e9f2f2;
}

/* links in header blocks */
A.hdr:link, A.hdr:active, A.hdr:visited {
        color: #333;
}

A.hdr:hover {
        color: #00FFE5;
}

/* tabbed boxes */
td.tabon {
        /*
        border-top: outset #a9d4ff 1px;
        border-left: outset #a9d4ff 1px;
        border-right: outset #a9d4ff 2px;
        border-bottom: none;
        */
        background: #ffffff url('bar_top_Selectedmiddle.gif') repeat-x top;
        font-weight: bold; 
}
td.taboff {
        /* border-top: solid #a9d4ff 1px;
        border-left: solid #a9d4ff 1px;
        border-right: solid #a9d4ff 1px;
        border-bottom: solid #a9d4ff 2px;
        */
        background: #ffffff url('bar_top_middle.gif') repeat-x top;
        font-weight: normal; 
}
td.tabsp {
        border-bottom: solid #a9d4ff 2px;
}
/* Bottom of tabbed boxes, this is the bottom colour of the table */
td.tabox {
        background: #acacac;
        border-top: solid #acacac 1px;
        border-left: solid #acacac 1px;
        border-right: solid #acacac 1px;
        border-bottom: solid #acacac 1px;
}

/* Message styles */
.warning {
        color: red
}
.error {
        color: red
}
.message {
        color: #08245b;
}

.no_ {
        color: red
}

/* popup calendar */
body.popcal {
        background-color: #f0f0f0;
}

table.poptitle {
        background-color: #ffffff;
}
table.poptitle td {
        background-color: #ffffff;
}
table.poptitle th {
        background-color: #ffffff;
        color: #000000;
        font-size: 10pt;
        font-weight: bold;
}

table.popcal {
        background-color: #cccccc;
}

table.popcal th {
        background-color: #ffffff;
        color: #000000;
        font-family: Osaka,helvetica,arial,sans-serif;
        font-size: 9pt;
        font-weight: normal;
}

table.popcal td {
        background-color: #ffffff;
        font-family: Osaka,helvetica,arial,sans-serif;
        font-size: 8pt;
        text-align: center;
}

table.popcal td.empty {
        background-color: #e0e0e0;
}

table.mocal td.day  {
        background-color: #ffffff;
        text-align: center;
}

table.popcal td.today {
}

table.popcal td.weekend {
        background-color: #f0f0f0;
}

table.popcal a:link,
table.popcal a:visited {
        color: #0000ff;
        text-decoration: none;
}

table.popcal a.today:link,
table.popcal a.today:visited {
        color: #ff0000;
        font-weight: bold;
}

table.popcal a.weekend:link,
table.popcal a.weekend:visited {
        color: #0000aa;
}

table.popcal a.empty:link,
table.popcal a.empty:visited {
        color: #777777;
}

/* month calendar - title area */
table.motitle {
        background-color: #777777;
}
table.motitle td {
        background-color: #f0f0f0;
}
table.motitle th {
        background-color: #f0f0f0;
        font-size: 10pt;
}

table.mocal {
        background-color: #777777;
        cursor: pointer;
}
table.mocal th {
        background-color: #08245b;
        color: #ffffff;
}
table.mocal td {
}
table.mocal td.week {
        vertical-align: top;
        background-color: #08245b;
        height: 80px;
}
table.mocal td.empty {
        background-color: #e0e0e0;
        color: #aaaaaa;
        text-align: left;
        vertical-align: top;
        height: 80px;
}
table.mocal td.day  {
        background-color: #ffffff;
        color: #333366;
        text-align: left;
        vertical-align: top;
        height: 80px;
}
table.mocal td.today {
        background-color: #a5cbf7;
        color: #ffffff;
        text-align: left;
        vertical-align: top;
}

table.mocal td.weekend {
        background-color: #f0f0f0;
        text-align: left;
        vertical-align: top;
}

table.mocal td.event {
        background-color: #ffffcc;
        text-align: left;
        vertical-align: top;
}

table.mocal .event {
}

/* mini calendar - title area */
table.minititle {
}
table.minititle td {
}
table.minititle th {
        font-weight: normal;
}

table.minical {
}

table.minical th {
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
	line-height:normal;
}
table.minical td {
}
table.minical td.week {
}
table.minical td.empty {
        color: #aaaaaa;
}
table.minical td.day  {
        text-align: center;
}
table.minical td.today {
		border           : 1px dotted red;
        background-color: #e0e0e0;
        text-align: center;
}
table.minical td.weekend {
        background-color: #f0f0f0;
        text-align: center;
}
table.minical td.event {
        background-color: #ffffcc;
        text-align: center;
}
table.minical td.task {
        background-color: #ccccff;
        text-align: center;
}
table.minical td.eventtask {
        background-color: #ffccff;
        text-align: center;
}
table.minical td.eventtoday {
        background-color: #ffffcc;
        text-align: center;
		border           : 1px dotted red;
}
table.minical td.tasktoday {
        background-color: #ccccff;
        text-align: center;
		border           : 1px dotted red;
}
table.minical td.eventtasktoday {
        background-color: #ffccff;
        text-align: center;
		border           : 1px dotted red;
}

/* daily calendar */
table.tbl td.event {
        background-color: #fff0b0;
}

table.tbl td.event td {
        background-color: #fff0b0;
}

TR.nav {
        background: url("nav_bkgd.gif");
        color: #000;
		height:24px;
}

tr.nav a:hover{
	background:#2E91C6 url(nav_item_hover.gif) repeat-x scroll 0%;
	color:#FFFFFF;
	text-decoration:none;
}

tr.nav ul li {
	float:left;
	margin:0px 1px 0px 0px;
	padding:0px;
}

tr.nav ul {
    font: bold 8pt helvetica,arial,sans-serif;
	line-height:100%;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:1px 0px 0px 0px;
	padding:0px;
}

tr.nav ul li a {
	color:#000000;
	display:block;
	padding:5px 7px 6px;
	text-decoration:none;
}

a.button {
    background: transparent url('button_right.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 8pt arial, sans-serif;
    height: 22px;
    margin-right:0px;
    padding-right: 10px; /* sliding doors padding */
    text-decoration: none;
	border:0px;
}

a.button span {
    background: transparent url('button_left.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 3px 0 5px 10px;
} 

a.button:hover {
	color: #FFFFFF;
}

a.button:active {
    background-position: bottom right;
	color: #FFFFFF;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 4px 0 4px 10px; /* push text down 1px */
}

a.delete {
    background: transparent url('delete_right.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 8pt arial, sans-serif;
    height: 22px;
    margin-right:0px;
    padding-right: 10px; /* sliding doors padding */
    text-decoration: none;
	border:0px;
}

a.delete span {
    background: transparent url('delete_left.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 3px 0 5px 10px;
} 

a.delete:hover {
	color: #FFFFFF;
}

a.delete:active {
    background-position: bottom right;
	color: #FFFFFF;
    outline: none; /* hide dotted outline in Firefox */
}

a.delete:active span {
    background-position: bottom left;
    padding: 4px 0 4px 10px; /* push text down 1px */
}

.crumb ul {
list-style-type: none;
margin: 0px;
padding: 0px;
}
.crumb ul li {
	margin: 2px 2px 2px;
	font-family:arial,sans-serif;
	color: #000000;
	text-decoration: none;
	display: inline; /* Remove this line arrange the buttons vertically */
	background: transparent url('crumb_right.gif') no-repeat scroll top right;
	float: left;
	height: 22px;
	padding-right: 10px; /* sliding doors padding */
	border:0px;
}
.crumb ul li span {
    background: transparent url('crumb_left.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 2px 0 5px 10px;
}
.crumb ul li a {
	display: inline;
	color: #000000;
}
.crumb ul li a:active {
	color: #AD0000;
}
.crumb ul li a:hover {
	color: #FFFFFF;
}

/*tooltip*/

.tool-tip {
	color: white;
	width: 462px;
	z-index: 13000;
}
 
.tool-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #9FD4FF;
	padding: 8px 8px 4px;
	background: url(bubble.png) top left;
}
 
.tool-text {
	color: white;
	font-size: 11px;
	padding: 4px 8px 8px;
	background: url(bubble.png) bottom right;
}

.tool-text td {
	color: white;
	font-size: 11px;
}

form {
	display: inline; 
	margin: 0;
}

img {
	vertical-align: top;
}

label {
	vertical-align: 25%;
}

TD.weekDay  {
	height:360px;
	vertical-align: top;
	padding: 0px 4px 1px 4px;
	border: 1px solid #ccc;
	text-align: left;
}
TD.weekendDay  {
	height:360px;
	vertical-align: top;
	padding: 0px 4px 1px 4px;
	border: 1px solid #ccc;
	text-align: left;
	background-color:#F0F0F0;
}