/* $Id$ $URL$ */
/* theme: wps-redmond */
/* WEB2PROJECT REQUIRED CLASSES */
BODY {
    background-color    : #f2f2f2;
    background-position : bottom;
    background-repeat   : repeat-x;
	font-family: Osaka,verdana,Sans-Serif;
}

em {
	color: #333;
}

A:link, A:visited, A:active {
	color: 333333;
}

A:hover {
	color: #666666;
}

TD, TR {
	font-family: Osaka,verdana,Sans-Serif;
}

h1, .title {
	font-family: Trebuchet MS,Arial,Osaka,verdana,Sans-Serif;
    font-size: 15px;
    text-transform: uppercase;
}

h2, .subtitle {
	color: #333;
    font-family: Trebuchet MS,arial,Osaka,verdana,Sans-Serif;
    text-transform: uppercase;
}

h3 {
	color: #333;
    font-family: Trebuchet MS,arial,Osaka,verdana,Sans-Serif;
    text-transform: uppercase;
}

.item {
	color: #333;
}

.ok {
	color: green;
}

.text{
	border: 1px #999999 solid;
}

TEXTAREA {
	border: 1px #999999 solid;
	font-family: arial,Osaka,verdana,helvetica,arial,sans-serif;
	font-size: 8pt;
    padding : 2px;
}

.textarea {
	border: 1px #999999 solid;
	font-family: arial, verdana,helvetica,arial,sans-serif;
	font-size: 8pt;
    padding : 2px;
    margin-top  : 2px;
}

textarea.small {
	border: 1px #999999 solid;
	font-family: arial, verdana,Sans-Serif;
	font-size: 8pt;
    padding : 2px;
    margin-top  : 2px;
}

input, textarea {
	font-family : tahoma,arial,verdana,Sans-Serif;
    font-size   : 8pt;
    font-weight : normal;
	border      : 1px #999999 solid;
    padding     : 2px;
    margin-top  : 2px;
    -moz-border-radius : 4px;
    -webkit-border-radius:4px;
}

/* Focus action  */
input:focus, textarea:focus {
    border           : 1px solid #6F6F6F; /*#3162A6;*/
    background-color : #FFFFCC;
}

.button{
    font-family   : tahoma,verdana,arial,Sans-Serif;
    color         : #666;
    text-align    : center;
    font-size     : 9px;
    font-weight   : bold;
    border-top    : 1px solid #C4CCCC;
    border-left   : 1px solid #ACB5B5;
    border-bottom : 1px solid #6F7777;
    border-right  : 1px solid #ACB5B5;
    width         : auto;
    background    : url(images/button_bg.png) repeat-x;
    background-color : white;
    padding       : 2px 5px !important;
    padding       : 0px 0px;
    line-height   : 13px;
    margin-left   : 2px;
    cursor        : pointer !important;
    cursor        : hand;
    -moz-border-radius : 3.5px;
    -webkit-border-radius:3.5px;
}

/* Focus action  */
.button:focus {
    font-family   : tahoma,verdana,arial,Sans-Serif;
    color         : #999;
    text-align    : center;
    font-size     : 9px;
    font-weight   : bold;
    border-top    : 1px solid #C4CCCC;
    border-left   : 1px solid #ACB5B5;
    border-bottom : 1px solid #6F7777;
    border-right  : 1px solid #ACB5B5;
    width         : auto;
    background    : url(images/button_bg.png) repeat-x;
    background-color : white;
    padding       : 2px 5px !important;
    padding       : 0px 0px;
    line-height   : 13px;
    margin-left   : 2px;
    cursor        : pointer !important;
    cursor        : hand;
    -moz-border-radius : 0px;
}

/* web2Project Top Banner and Top Nav Customization */
TABLE.banner {
	background-color: #D4D0C8;
	color: #fff
}

TH.banner {
	background-color: #D4D0C8;
	color: #fff
}

TD.nav {
	border              : 1px solid #848284;
	color               : #333;
    background-color    : #D4D0C8;
    background-image    : url("images/nav_bg.png");
    background-image    : repeat-x;
}

TD.nav {
	color: #ccc;
}

/* Standard table 'spreadsheet' style */
table.tbl {
	background: #D4D0C8;
}

table.tbl TH {
	color               : #333;
	list-style-type     : disc;
	list-style-position : inside;
	border: outset #D1D1CD 0px;
	font-weight         : normal;
    background-color    : #D4D0C8;
    background-image    : url("images/header_bg.png");
    background-image    : repeat-x;
}

table.tbl td {
	background-color: #ffffff;
}

table.tbl td.hilite {
    background-color: #ECEAE5;
}

/* a 'standard' table */
table.std {
	background : #D4D0C8;
    -moz-border-radius : 4px;
    -webkit-border-radius:4px;
}
table.std TH {
	color            : #333;
	list-style-type  : disc;
	list-style-position: inside;
    background-color    : #D4D0C8;
    background-image    : url("images/header_bg.png");
    background-image    : repeat-x;
}

table.std td.hilite {
	background-color: #ffffff;
}

/* contacts table */
table.contacts {
	background-color: #808080;
}

table.contacts td {
    background-color : #D4D0C8;
}

table.contacts td.hilite {
	background-color: #ffffff;
	padding: 5px;
}

/* links in header blocks */
A.hdr:link, A.hdr:active, A.hdr:visited {
	color: #333333;
}

/* tabbed boxes */
td.tabon {
	background: #D4D0C8;
    background-image: url('images/tabSelectedBg.png');
    font-weight: bold;
}
td.taboff {
	background: #D4D0C8;
	background-image: url('images/tabBg.png');
    background-position : bottom;
    background-repeat   : repeat-x;
    font-weight: normal;
}
td.tabsp {
	border-bottom: solid #808080 1px;
}
td.tabox {
	background-color : #D4D0C8;
	border-left      : solid #808080 1px;
	border-right     : solid #808080 1px;
	border-bottom    : solid #808080 1px;
}

/* Message styles */
.message {
	color: #333;
}

/* month calendar - title area */
table.motitle {
	background-color: #666;
}
table.motitle td {
	background-color: #D4D0C8;
}
table.motitle th {
    font-family         : arial,Osaka,verdana,Sans-Serif;
    font-size           : 14px;
    color               : #333;
    list-style-type     : disc;
    list-style-position : inside;
    font-weight         : bold;
    background-color    : #D4D0C8;
}

table.mocal {
	background-color: #777777;
    cursor: pointer;
}
table.mocal th {
	color               : #333;
	list-style-type     : disc;
	list-style-position : inside;
	font-weight         : bold;
	text-align          : center;
    background-color    : #bccfeb;
    background-image    : url("images/header_bg.png");
    background-image    : repeat-x;
}
table.mocal td { }
table.mocal td.week {
	vertical-align: top;
	background-color: #D4D0C8;
	height: 80px;
}
table.mocal td.empty {
	background-color: #e0e0e0;
	color: #aaaaaa;
	text-align: left;
	vertical-align: top;
	height: 80px;
}
table.mocal td.day  {
	background-color: #ffffff;
	color: #333366;
	text-align: left;
	vertical-align: top;
	height: 80px;
}
table.mocal td.today {
	background-color : white;
	border           : 2px dotted red;
	color            : #ffffff;
	text-align       : left;
	vertical-align   : top;
}

table.mocal td.weekend {
	background-color: #f0f0f0;
	text-align: left;
	vertical-align: top;
}

table.mocal .event { }

/* mini calendar - title area */
table.minical {
	background-color: #f2f2f2;
	border : 1px solid #cccccc;
}
table.minical th {
	background-color: #EEE;
	font-weight: normal;
}
table.minical td {
	background-color: WHITE;
}
table.minical td.today {
	text-align       : center;
	border           : 2px dotted red;
}
table.minical .event { }

.crumb ul li {
    margin: 0px 0px 0px;
    padding: 1px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.crumb ul li a {
    background-color    : #D4D0C8;
    padding: 2px 3px; /* Increase or decrease width and height */
    margin: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif; /* Change the Font of the button */
    font-size: 10px; /* Change the button text size */
    border: 1px solid #D4D0C8; /* Button Border */
    text-decoration: none;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
.crumb ul li a:active {
    border-top: 1px solid #BBBB88; /* Button border on mouse over*/
    border-right: 1px solid #DDDDB0; /* Button border on mouse over*/
    border-bottom: 1px solid #DDDDB0; /* Button border on mouse over*/
    border-left: 1px solid #BBBB88; /* Button border on mouse over*/
    border-style: inset;
}
.crumb ul li a:hover {
    border: 1px solid #000000; /* Button Border */
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
/* theme: wps-redmond */