/* dotPROJECT REQUIRED CLASSES */
BODY {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	font-family: Osaka,verdana,Sans-Serif;
	font-size: 10pt;
	color: #333;
    background-color    : #f2f2f2;
    /*background-image    : url('bottom_bg.png');*/
    background-position : bottom;
    background-repeat   : repeat-x;

}

ul {
	margin-left: 25px;
}

dl {
	margin-top: 0px; padding-left: 1px;
}
dt {
	margin-top: 0.5em;
	color: #000099;
	font-weight: bold;
}
dd {
	margin-bottom: 0px; margin-left: 1.5em;
}


em {
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
	color: #333;
}

A:link {
	color: #333333;
	text-decoration: none;
}

A:visited {
	color: #333333;
	text-decoration: none;
}

A:active {
	color: 333333;
	text-decoration: none;
}

A:hover {
	color: #666666;
	text-decoration: none;
}

TD {
	font-family: Osaka,verdana,Sans-Serif;
	font-size: 8pt
}

TR {
	font-family: Osaka,verdana,Sans-Serif;
	font-size: 8pt
}

h1, .title {
	font-size: 15px;
	font-weight: bold;
	font-family: Trebuchet MS,Arial,Osaka,verdana,Sans-Serif;
	color: #333;
	margin-bottom: 0px;
	margin-top: 5px;
    text-transform: uppercase;
}

h2, .subtitle {
	font-size: 12px;
	font-weight: bold;
	font-family: Trebuchet MS,arial,Osaka,verdana,Sans-Serif;
	color: #333;
	margin-bottom: 0px;
	margin-top: 15px;
    text-transform: uppercase;

}

h3 {
	font-size: 12px;
	font-weight: bold;
	font-family: Trebuchet MS,arial,Osaka,verdana,Sans-Serif;
	color: #333;
	margin-bottom: 0px;
	margin-top: 35px;
    text-transform: uppercase;

}

bordertable {
	border: 1px black solid;
}

.bordertable{
 border: 1px black solid;
}


.item {
	color: #333;
}

.ok {
	color: green;
}

.text{
	border: 1px #999999 solid;
	font-family: arial,Osaka,verdana,Sans-Serif;
	font-size: 8pt;
    margin-top  : 2px;
	/*height: 12pt; Select boxes are too small in Mozilla */
	}

TEXTAREA {
	border: 1px #999999 solid;
	font-family: arial,Osaka,verdana,helvetica,arial,sans-serif;
	font-size: 8pt;
    padding : 2px;
}

.textarea {
	border: 1px #999999 solid;
	font-family: arial, verdana,helvetica,arial,sans-serif;
	font-size: 8pt;
    padding : 2px;
    margin-top  : 2px;
}

textarea.small {
	border: 1px #999999 solid;
	font-family: arial, verdana,Sans-Serif;
	font-size: 8pt;
    padding : 2px;
    margin-top  : 2px;
}

input, textarea {
	font-family : tahoma,arial,verdana,Sans-Serif;
    font-size   : 8pt;
    font-weight : normal;
	border      : 1px #999999 solid;
    padding     : 2px;
    margin-top  : 2px;
    -moz-border-radius : 4px;
    -webkit-border-radius:4px;
}

/* Focus action  */
input:focus, textarea:focus {
    border           : 1px solid #6F6F6F; /*#3162A6;*/
    background-color : #FFFFCC;
}

.button{
    /*** ORIGINAL ***
    border: 1px black solid;
	font-family: Osaka,verdana,Sans-Serif;
	font-size: 8pt;
    ***/

  font-family   : tahoma,verdana,arial,Sans-Serif;
  color         : #666;
  text-align    : center;
  font-size     : 9px;
  font-weight   : bold;
  border-top    : 1px solid #C4CCCC;
  border-left   : 1px solid #ACB5B5;
  border-bottom : 1px solid #6F7777;
  border-right  : 1px solid #ACB5B5;
  width         : auto;
  background    : url(button_bg.png) repeat-x;
  background-color : white;
  padding       : 2px 5px !important;
  padding       : 0px 0px;
  line-height   : 13px;
  margin-left   : 2px;
  cursor        : pointer !important;
  cursor        : hand;
  -moz-border-radius : 3.5px;
  -webkit-border-radius:3.5px;
}

/* Focus action  */
.button:focus {

  font-family   : tahoma,verdana,arial,Sans-Serif;
  color         : #999;
  text-align    : center;
  font-size     : 9px;
  font-weight   : bold;
  border-top    : 1px solid #C4CCCC;
  border-left   : 1px solid #ACB5B5;
  border-bottom : 1px solid #6F7777;
  border-right  : 1px solid #ACB5B5;
  width         : auto;
  background    : url(button_bg.png) repeat-x;
  background-color : white;
  padding       : 2px 5px !important;
  padding       : 0px 0px;
  line-height   : 13px;
  margin-left   : 2px;
  cursor        : pointer !important;
  cursor        : hand;
  -moz-border-radius : 0px;
}


/* dotProject Top Banner and Top Nav Customization */
TABLE.banner {
	background-color: #D4D0C8;
	color: #fff
}

TH.banner {
	background-color: #D4D0C8;
	color: #fff
}

TD.nav {
	border              : 1px solid #848284;
	color               : #333;
    background-color    : #D4D0C8;
    background-image    : url("nav_bg.png");
    background-image    : repeat-x;

}

/*
**********************************
Begin IE TD buttonizing
**********************************
*/

TD.clsBtnUp {
	cursor: hand;
	color: #FFFFFF;
	padding: 0 3;
	border: inset 2px;
}

TD.clsBtnDown {
	cursor: hand;
	color: #FFFFFF;
	padding: 0 3;
	border: inset 2px;
}

TD.clsBtnOn {
	cursor: hand;
	color: #FFFFFF;
	padding: 0 3;
	border: outset #eeeeee 2px;
}

TD.clsBtnOff {
	color: #FFFFFF;
	padding: 0 3;
	tab-index: 0;
	border: solid #559999 2px;
}

TD.topBtnOff {
	color: #FFFFFF;
	padding: 0 3;
	tab-index: 0;
	border: solid #cccccc 2px;
}

TD.nav {
	color: #ccc;
}

/* Standard table 'spreadsheet' style */
table.tbl {
	background: #D4D0C8;
}

table.tbl TH {
	color               : #333;
	list-style-type     : disc;
	list-style-position : inside;
	border: outset #D1D1CD 0px;
	font-weight         : normal;
	/* text-align          :center; */
    background-color    : #D4D0C8;
    background-image    : url("header_bg.png");
    background-image    : repeat-x;

	}

table.tbl td {
	background-color: #ffffff;
}

/* a 'standard' table */
table.std {
	/* border     : 1px solid #808080; */
	background : #D4D0C8;
    -moz-border-radius : 4px;
    -webkit-border-radius:4px;
}
table.std TH {
	color            : #333;
	list-style-type  : disc;
	list-style-position: inside;
	/*border           : outset #D1D1CD 1px;*/
    background-color    : #D4D0C8;
    background-image    : url("header_bg.png");
    background-image    : repeat-x;

}

table.std td.hilite {
	background-color: #ffffff;
}

/* contacts table */
table.contacts {
	background-color: #808080;
}

table.contacts td {
    background-color : #D4D0C8;
}

table.contacts td.hilite {
	background-color: #ffffff;
	padding: 5px;
}

/* links in header blocks */
A.hdr:link, A.hdr:active, A.hdr:visited {
	color: #333333;
}

/* tabbed boxes */

td.tabon {
	background: #D4D0C8;
    background-image: url('tabSelectedBg.png');
}
td.taboff {
	background: #D4D0C8;
	background-image: url('tabBg.png');
    background-position : bottom;
    background-repeat   : repeat-x;
	}
td.tabsp {
	border-bottom: solid #808080 1px;
}
td.tabox {
	background-color : #D4D0C8;
	border-left      : solid #808080 1px;
	border-right     : solid #808080 1px;
	border-bottom    : solid #808080 1px;
}

/* Message styles */
.warning {
	color: red
}
.error {
	color: red
}
.message {
	color: #333;
}

.no_ {
	color: red
}

/* popup calendar */
body.popcal {
	background-color: #f0f0f0;
}

table.poptitle {
	background-color: #ffffff;
}
table.poptitle td {
	background-color: #ffffff;
}
table.poptitle th {
	background-color: #ffffff;
	color: #000000;
	font-size: 10pt;
	font-weight: bold;
}

table.popcal {
	background-color: #cccccc;
}

table.popcal th {
	background-color: #ffffff;
	color: #000000;
	font-family: Osaka,helvetica,arial,sans-serif;
	font-size: 9pt;
	font-weight: normal;
}

table.popcal td {
	background-color: #ffffff;
	font-family: Osaka,helvetica,arial,sans-serif;
	font-size: 8pt;
	text-align: center;
}

table.popcal td.empty {
	background-color: #e0e0e0;
}

table.mocal td.day  {
	background-color: #ffffff;
	text-align: center;
}

table.popcal td.today {
}

table.popcal td.weekend {
	background-color: #f0f0f0;
}

table.popcal a:link,
table.popcal a:visited {
	color: #0000ff;
	text-decoration: none;
}

table.popcal a.today:link,
table.popcal a.today:visited {
	color: #ff0000;
	font-weight: bold;
}

table.popcal a.weekend:link,
table.popcal a.weekend:visited {
	color: #0000aa;
}

table.popcal a.empty:link,
table.popcal a.empty:visited {
	color: #777777;
}

/* month calendar - title area */
table.motitle {
	background-color: #666;
}
table.motitle td {
	background-color: #D4D0C8;
}
table.motitle th {
    font-family         : arial,Osaka,verdana,Sans-Serif;
    font-size           : 14px;
    color               : #333;
	list-style-type     : disc;
	list-style-position : inside;
	font-weight         : bold;
    background-color    : #D4D0C8; /* #95B3DE; */
}

table.mocal {
	background-color: #777777;
    cursor: pointer;
}
table.mocal th {
	color               : #333;
	list-style-type     : disc;
	list-style-position : inside;
	font-weight         : bold;
	text-align          : center;
    background-color    : #bccfeb; /* #95B3DE; */
    background-image    : url("header_bg.png");
    background-image    : repeat-x;

}
table.mocal td {
}
table.mocal td.week {
	vertical-align: top;
	background-color: #D4D0C8;
	height: 80px;
}
table.mocal td.empty {
	background-color: #e0e0e0;
	color: #aaaaaa;
	text-align: left;
	vertical-align: top;
	height: 80px;
}
table.mocal td.day  {
	background-color: #ffffff;
	color: #333366;
	text-align: left;
	vertical-align: top;
	height: 80px;
}
table.mocal td.today {
	background-color : white;
	border           : 2px dotted red;
	color            : #ffffff;
	text-align       : left;
	vertical-align   : top;
}

table.mocal td.weekend {
	background-color: #f0f0f0;
	text-align: left;
	vertical-align: top;
}

table.mocal .event {
}

/* mini calendar - title area */
table.minititle {
}
table.minititle td {
}
table.minititle th {
	font-weight: normal;
}

table.minical {
	background-color: #f2f2f2;
	border : 1px solid #cccccc;
}
table.minical th {
	background-color: #EEE;
	font-weight: normal;

}
table.minical td {
	background-color: WHITE;
}
table.minical td.week {
}
table.minical td.empty {
	color: #aaaaaa;
}
table.minical td.day  {
	text-align : center;
}
table.minical td.today {
	text-align       : center;
	border           : 2px dotted red;
}
table.minical td.weekend {
    background-color: #f0f0f0;
	text-align: center;
}
table.minical .event {
}
table.minical td.event {
        background-color: #ffffcc;
        text-align: center;
}
table.minical td.task {
        background-color: #ccccff;
        text-align: center;
}
table.minical td.eventtask {
        background-color: #ffccff;
        text-align: center;
}
table.minical td.eventtoday {
        background-color: #ffffcc;
        text-align: center;
		border           : 1px dotted red;
}
table.minical td.tasktoday {
        background-color: #ccccff;
        text-align: center;
		border           : 1px dotted red;
}
table.minical td.eventtasktoday {
        background-color: #ffccff;
        text-align: center;
		border           : 1px dotted red;
}
/* daily calendar */
table.tbl td.event {
        background-color: #fff0b0;
}

table.tbl td.event td {
	background-color: #fff0b0;
}

.crumb ul {
list-style-type: none;
margin: 0px;
padding: 0px;
}
.crumb ul li {
margin: 0px 0px 0px;
padding: 1px;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #000000;
text-decoration: none;
display: inline; /* Remove this line arrange the buttons vertically */
}
.crumb ul li a {
/*background-color: #F0F0E3; /* Change the background color*/
background-color    : #D4D0C8;
padding: 2px 3px; /* Increase or decrease width and height */
margin: 0px;
display: inline;
font-family: Verdana, Arial, Helvetica, sans-serif; /* Change the Font of the button */
font-size: 10px; /* Change the button text size */
border: 1px solid #D4D0C8; /* Button Border */
color: #000000;
text-decoration: none;
-moz-border-radius:4px;
-webkit-border-radius:4px;
}
.crumb ul li a:active {
color: #AD0000;
border-top: 1px solid #BBBB88; /* Button border on mouse over*/
border-right: 1px solid #DDDDB0; /* Button border on mouse over*/
border-bottom: 1px solid #DDDDB0; /* Button border on mouse over*/
border-left: 1px solid #BBBB88; /* Button border on mouse over*/
border-style: inset;
}
.crumb ul li a:hover {
color: #FFFFFF;
border: 1px solid #000000; /* Button Border */
-moz-border-radius:4px;
-webkit-border-radius:4px;
}

/*tooltip*/

.tool-tip {
	color: #fff;
	width: 462px;
	z-index: 13000;
}
 
.tool-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #9FD4FF;
	padding: 8px 8px 4px;
	background: url(bubble.png) top left;
}
 
.tool-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background: url(bubble.png) bottom right;
}

.tool-text td {
	color: white;
	font-size: 11px;
}

form {
	display: inline; 
	margin: 0;
}

img {
	vertical-align: top;
}