php_flag register_globals 0
php_value session.auto_start Off
php_value session.use_trans_sid 0

php_value session.cache_limiter private
php_value upload_max_filesize "45M"
php_value post_max_size "25M"

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{SERVER_PORT} !443$
#RewriteRule ^(.*) https://%{SERVER_NAME}/$1 [R,L]
#RewriteRule ^(.*) https://projects.goodmanmfg.com/$1 [R,L]
</IfModule>
